# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


venv
postman
node_modules
__pycache__
.*
!.gitignore
!.github
!.env
